*{
    margin: 0px;
    padding: 0px;
}
h1 {
    margin-bottom: 20px;
}
h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
div{
    width: 750px;
    font-family: 'Times New Roman', Times, serif;
}
div>div{
    height: 100px;
    text-indent: 15px;
    border: 1px solid gray;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
ul {
    margin-left: 30px;
    list-style:url(doc.jpg);
}

li>img {
    display: none;
}
li:hover img {
    display: inline;

}
