div {
    width: 300px;
    height: 230px;
    background-image: url(cats.jpg);
    float: left;
    margin-bottom: 20px;

}

.cat_1 {
    background-position-x: -40px;
    background-position-y: 240px;
}

.cat_2 {  
    background-position-x: 270px;
    background-position-y: 770px;
}
.cat_3 {
    background-position-x: 550px;
    background-position-y: -270px;
}