
.container {
    color: #f33030;
    display: flex;
    flex-direction: column;
    gap: .2em;
    
    
}
.wrap {
    display:flex;
    flex-direction: row;
    gap:  .2em;
}
.footer {
    background-color: #ffcba0;
    height: max-content;
    order: 2;
    display: flex;
}

.menu {
    background: #ffcba0;
    display: flex;
    width: 15em;
    flex-shrink: 0; /*Чтобы меню не схлопывалось*/
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
.content {
    display: flex;
    flex-direction: column;
    gap: .2em;
    
}
.artical {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
li{
    list-style: none;
}
img {
    width: 100px;
    height: 100px;
    align-self: self-end; /* Чтобы только картинка сместилась*/
    
}

